#country-list-section{
  position: fixed;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  background: #AD1457;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #fff;
}

#country-list {
  list-style-type: none;
  padding: 0 0 0 0;
}

#country-list > li {
  cursor: pointer;
}

#country-list > li:hover {
  transform: scale(1.2);
  padding: 5px 0 5px 35px;
  font-weight: 700;
}

.search{
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 2px;
}
